/* Mouvement vers la gauche */
.move-0-1 {
  transform: translateX(calc(-100% - 1rem));
}
.move-0-2 {
  transform: translateX(calc(-200% - 2rem));
}

/* Mouvement vers la droite */
.move-0-3 {
  transform: translateX(calc(100% + 1rem));
}

/* Mouvement vers le haut */
.move-1-0 {
  transform: translateY(calc(-100% - 1rem));
}
.move-2-0 {
  transform: translateY(calc(-200% - 2rem));
}

/* Mouvement vers le bas */
.move-3-0 {
  transform: translateY(calc(100% + 1rem));
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}
